package ${packageName};

import ${model.packageName}.${model.className};
import java.util.List;

/**
* ${table.desc}DAO操作类
*
* User: ${creator}
* Date: ${date}
*/
public interface ${className} {


    /**
    * insert ${model.modelName}
    * @param ${model.lowerClassName}
    * @return
    */
    Integer insert${model.modelName}(${model.className} ${model.lowerClassName});

    /**
    * update ${model.modelName}
    * @param ${model.lowerClassName}
    * @return
    */
    Integer update${model.modelName}(${model.className} ${model.lowerClassName});

    /**
    * get ${model.modelName}List
    * @param ${model.lowerClassName}
    * @return
    */
    List<${model.className}> get${model.modelName}List(${model.className} ${model.lowerClassName});


}
