package ${packageName};

import ${model.packageName}.${model.className};
import ${dao.packageName}.${dao.className};


import java.util.List;

/**
* ${table.desc}DAO操作类
*
* User: ${creator}
* Date: ${date}
*/
public class ${className}  implements ${dao.className}{


    @Override
    public Integer insert${model.modelName}(${model.className} ${model.lowerClassName}) {
        return crmSqlMapClientNormal.update("${model.lowerClassName}.insert" , ${model.lowerClassName});
    }

    @Override
    public Integer update${model.modelName}(${model.className} ${model.lowerClassName}) {
        return crmSqlMapClientNormal.update("${model.lowerClassName}.update" , ${model.lowerClassName});
    }

    @Override
    public List<${model.className}> get${model.modelName}List(${model.className} ${model.lowerClassName}) {
        return crmSqlMapClientNormal.queryForList("${model.lowerClassName}.select" , ${model.lowerClassName});
    }
}
