<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- 数据库配置 -->
    <jdbc name="dialect" value="mysql"/>
    <jdbc name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <jdbc name="url" value="jdbc:mysql://tddl.daily.alibaba.net:3306/TMALL_TPP_APP?useUnicode=true&amp;characterEncoding=utf-8"/>
    <jdbc name="username" value="TMALL_TPP_APP"/>
    <jdbc name="password" value="TMALL_TPP_APP"/>


    <!-- 常量配置 -->

    <constant name="encoding" value="UTF-8"/><!-- 项目运行时编码，即读取模版文件的编码，如果模版文件读取乱码，可修改该参数 -->
    <constant name="targetDir" value="D:\code\branches\20160602_692039_patch_1\visa"/><!-- 目标项目路径 -->
    <constant name="creator" value="wandong.cwd"/><!-- 代码作者信息 -->
    <constant name="targetEncoding" value="GBK"/> <!-- 生成的代码文件编码 -->

    <!-- 数据库类型到java类型转换配置 -->
    <convert dbType="BIGINT" jdbcType="BIGINT" javaType="java.lang.Long"/>
    <convert dbType="INT" jdbcType="INT" javaType="java.lang.Integer"/>
    <convert dbType="TINYINT" jdbcType="TINYINT" javaType="java.lang.Integer"/>
    <convert dbType="BIGINT UNSIGNED" jdbcType="BIGINT UNSIGNED" javaType="java.lang.Long"/>
    <convert dbType="VARCHAR" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <convert dbType="SYS.XMLTYPE" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
    <convert dbType="timestamp" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <convert dbType="datetime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    <convert dbType="BLOB" jdbcType="BLOB" javaType="java.lang.Byte[]"/>
    <convert dbType="DOUBLE" jdbcType="BLOB" javaType="java.lang.Double"/>

    <!-- 引入表配置 -->
    <include file="tables2.xml"/>

</config>